apiVersion: v1
kind: Secret
metadata:
  name: minio-secret
  namespace: longhorn-system
type: Opaque
data:
  AWS_ACCESS_KEY_ID: {{ minio_root_user_base64 }}
  AWS_SECRET_ACCESS_KEY: {{ minio_root_password_base64 }}
  AWS_ENDPOINTS: {{ minio_host_based64 }}
  AWS_CERT: {{ minio_aws_cert_base64 }}
