apiVersion: kafka.strimzi.io/v1beta2
kind: Kafka
metadata:
  name: kafka-cluster
  namespace: {{ kafka_namespace }}
spec:
  entityOperator:
    topicOperator:
      livenessProbe:
        initialDelaySeconds: 30
        timeoutSeconds: 20
      readinessProbe:
        initialDelaySeconds: 30
        timeoutSeconds: 20
      reconciliationIntervalSeconds: 90
      watchedNamespace: {{ kafka_namespace }}
      zookeeperSessionTimeoutSeconds: 20
    userOperator:
      livenessProbe:
        initialDelaySeconds: 30
        timeoutSeconds: 10
      readinessProbe:
        initialDelaySeconds: 30
        timeoutSeconds: 10
      reconciliationIntervalSeconds: 90
      watchedNamespace: {{ kafka_namespace }}
      zookeeperSessionTimeoutSeconds: 20
  kafka:
    config:
      default.replication.factor: {{ kafka_replication_factor }}
      inter.broker.protocol.version: "3.6"
      min.insync.replicas: 2
      offsets.topic.replication.factor: {{ kafka_topic_replication_factor }}
      transaction.state.log.min.isr: 2
      transaction.state.log.replication.factor: 2
    jvmOptions:
      -Xms: {{ kafka_broker_Xms }}
      -Xmx: {{ kafka_broker_Xmx }}
    listeners:
    - name: plain
      port: 9092
      tls: false
      type: internal
    - authentication:
        type: tls
      name: tls
      port: 9093
      tls: true
      type: internal
    livenessProbe:
      initialDelaySeconds: 30
      timeoutSeconds: 10
    readinessProbe:
      initialDelaySeconds: 30
      timeoutSeconds: 10
    replicas: {{ kafka_broker_count }}
    resources:
      limits:
        memory: {{ kafka_memory_min }}
      requests:
        memory: {{ kafka_memory_min }}
    storage:
      type: jbod
      volumes:
      - deleteClaim: false
        id: 0
        size: {{ kafka_storage_size }}
        type: persistent-claim
    template:
      pod:
        affinity:
          podAntiAffinity:
            requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchExpressions:
                - key: strimzi.io/pod-name
                  operator: In
                  values:
                  - kafka-cluster-kafka-1
                  - kafka-cluster-kafka-0
                  - kafka-cluster-kafka-2
              topologyKey: kubernetes.io/hostname
    version: 3.6.1
  kafkaExporter:
    groupRegex: .*
    resources:
      limits:
        cpu: 1
        memory: 512Mi
      requests:
        cpu: 400m
        memory: 256Mi
    topicRegex: .*
  zookeeper:
    jvmOptions:
      -Xms: {{ zookeeper_broker_Xms }}
      -Xmx: {{ zookeeper_broker_Xmx }}
    livenessProbe:
      initialDelaySeconds: 30
      timeoutSeconds: 10
    readinessProbe:
      initialDelaySeconds: 30
      timeoutSeconds: 10
    replicas: {{ zookeeper_count }}
    resources:
      limits:
        memory: {{ zookeeper_memory_min }}
      requests:
        memory: {{ zookeeper_memory_min }}
    storage:
      deleteClaim: false
      size: {{ zookeeper_storage_size }}
      type: persistent-claim
    template:
      pod:
        affinity:
          podAntiAffinity:
            requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchExpressions:
                - key: strimzi.io/pod-name
                  operator: In
                  values:
                  - kafka-cluster-zookeeper-0
                  - kafka-cluster-zookeeper-1
                  - kafka-cluster-zookeeper-2
              topologyKey: kubernetes.io/hostname
